.example-card {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    background-color: burlywood;
  }

.container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 500px;
  } 
  
  .mat-card-actions{
      display: flex;
      justify-content:center;

  }

  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 12px 11px 8px 2px rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }
 